 	<div class="section">
 		<div class="main-heading">
 			<h1>Reset Password</h1>
 	
 		</div>

 		<div class="form-element">	
 			<div class="form-horizontal">
 					<div class="row">
 					  <div class="col-md-6 offset-md-3">
 						<label for="recipient-name" class="col-form-label">New Password:</label>
 						<div class="input-group required">
 							<div class="input-group-addon"><i class="icofont-ui-password"></i></div>
 							<input type="password" class="form-control"  [(ngModel)] = "reqData.newpassword" value="reqData.newpassword">
 						</div>
 					</div>
 				</div>
 				<div class="row">
 						  <div class="col-md-6 offset-md-3">
 						<label for="recipient-name" class="col-form-label">Confirm Password:</label>
 						<div class="input-group required">
 							<div class="input-group-addon"><i class="icofont-ui-password"></i></div>
 							<input type="password" class="form-control"  [(ngModel)] = "reqData.confirmpassword" value="reqData.confirmpassword">
 						</div>
 					</div>
 					</div>

 				<br/>
 				<div class="row">
 				  <div class="col-md-6 offset-md-3">.
 				<input class="btn btngp btnsubmit" type="button" value="Submit" (click)="finalAction()"/>
 			</div>
 		</div>
 				
 			</div>

 		</div>

 		</div> 
