
<div class="section-container section-container-new" >
	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 class="add-button">Article Title</h1>
			
		</div>

		<div class="mh-right">
			<a class="view-button" (click) = "goBack()"  id="again-Back"><i class="fa fa-angle-left"></i> {{'Back' | translate }}</a>
		</div>
	</div>
	<div class="article_title_bdy">
		<div class="article_title_bdy_inner row">
			<div class="col-md-8 mb-30">
				 <div class="article_title_bdy_inner_left">
					<p class="txt_para_ck">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				    	</p>
					<p class="txt_para_ck">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</p>
				 </div>
				<div class="footer_article">
				 	<div class="footer_article_heading">
				 		<h3 class="footer_article_heading_txt">Attachments</h3>
				 	</div>
				 	<div class="footer_article_attachment_list row">
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		<div class="col-md-4">
				 			<div class="attachment_bdy ">
				 				<i class="fa fa-file-pdf-o icon_attach"></i>
					 			<p class="attachment_list_txt">Attachments Name</p>
				 			</div>
				 		</div>
				 		
				 	</div>
				</div>
				<div class="footer_article">
				 	<div class="footer_article_heading">
				 		<h3 class="footer_article_heading_txt">Refferences</h3>
				 	</div>
				 	<div class="refference_links">
				 		<a href="#" target="blank">
				 			<div class="refference_links_bdy">
				 				<p class="refference_links_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				 				<img src="assets/Images/open.svg" class="refference_links_img">
				 			</div>
				 		</a>
				 	</div>
				 		<div class="refference_links">
				 		<a href="#" target="blank">
				 			<div class="refference_links_bdy">
				 				<p class="refference_links_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				 				<img src="assets/Images/open.svg" class="refference_links_img">
				 			</div>
				 		</a>
				 	</div>
				 		<div class="refference_links">
				 		<a href="#" target="blank">
				 			<div class="refference_links_bdy">
				 				<p class="refference_links_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				 				<img src="assets/Images/open.svg" class="refference_links_img">
				 			</div>
				 		</a>
				 	</div>
				 		<div class="refference_links">
				 		<a href="#" target="blank">
				 			<div class="refference_links_bdy">
				 				<p class="refference_links_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				 				<img src="assets/Images/open.svg" class="refference_links_img">
				 			</div>
				 		</a>
				 	</div>
				 		<div class="refference_links">
				 		<a href="#" target="blank">
				 			<div class="refference_links_bdy">
				 				<p class="refference_links_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				 				<img src="assets/Images/open.svg" class="refference_links_img">
				 			</div>
				 		</a>
				 	</div>
				 
				</div>
				<div class="like_and_dis_bdy">
					<div class="like_and_dis_bdy_inner clearfix">
						<!-- <div class="helpful_txt">
							<p>Was this helpful?</p>
						</div>
						<div class="helpful_btn_bdy">
							<a href="#" class="btn btn_yes_helpful"> yes</a>
							<a href="#" class="btn btn_yes_helpful"> No</a>
						</div> -->
						<div class="bokmark_bdy">
							<!-- <a href="#" class="bookmark_btn"><i class="fa fa-star-o"></i> </a> -->
							<ngx-stars class="bookmark_btn" [size]="1" [color]="'grey'" [initialStars]="rating" (ratingOutput)="onRatingSet($event)" wholeStars = 'true' [maxStars]="1"></ngx-stars>
							<p class="bokmark_bdy_inner">click to bookmark</p>
						</div>
						
					</div>
				</div>

			</div>
			<div class="col-md-4 mb-30">
				<div class="article_title_bdy_inner_right">
				 <div class="heading_view">
				   <h4 class="heading_view_txt"><i class="fa fa-star"></i> My Bookmarks</h4> 
				 </div>
				  <div class="grey_box">
				  	<h3 class="grey_box_txt">Releted Articles</h3>
				  	<ul class="grey_box_list">
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
			  				<span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	<span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	 <span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	<span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	<span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  	</ul>
				  </div>
				  <div class="grey_box">
				  	<h3 class="grey_box_txt"> Category Title</h3>
				  	<ul class="grey_box_list">
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	 <span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	 <span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	 <span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	 <span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				</span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  		<li>
				  			<a routerLink = "/kb-article-feedback">
						  	 <span class="icon_iarticle">
			  					<i class=" fa fa-book"></i>
			  				 </span>
						  	 <span class="aftersearch_span">Articles feedback</span>
						  	</a>
				  		</li>
				  	</ul>
				  </div>
			    </div>
			</div>
		</div>
	</div>

</div>

