<!-- <form> -->
  <div class="section-container section-container-new">
	
  	<div class="col-sm-6"> 
  		<div class="form-group">
  			<label for="exampleInputEmail1">Old Password</label>
  			<input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Old Password" [(ngModel)] = "reqData.oldpass">
  		</div>
  		<div class="form-group">
  			<label for="exampleInputPassword1">New Password</label>
  			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)] = "reqData.UM_Password">
  		</div>
  		<div class="form-group">
  			<label for="exampleInputPassword1">Confirm Password</label>
  			<input type="password" class="form-control" id="exampleInputPassword12" placeholder="Confirm Password" [(ngModel)] = "reqData.confirmpass">
  		</div>

  		<button type="submit" class="btn btn-primary" (click) = "SaveData()">Submit</button>
  		<button type="cancel" class="btn btn-primary" routerLink = "/patient-dashboard">Cancel</button>
  	</div>
  </div>
<!-- </form> -->