<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>	
<div class="section-container section-container-new" >
	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 class="add-button">{{'Virtual consultation History' | translate }}</h1>
		</div>
		<div class="mh-right">
			<a class="add-button" (click) = "goBack()" ><i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 15px;"></i> {{'Back' | translate }}</a>
		</div>
	</div>
	<div class = "add-table">
		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class = "table"  id = 'vchistrylism'>
			<thead>
				<tr>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">#</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Patient Name' | translate }}</th>

					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Request Date' | translate }}</th>
					
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Order Date' | translate }}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">Created By</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Status' | translate }}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let list of getListData; let i = index" [class.alertDanger]="list.expire">
					<td class="hash-center">{{i+1}}</td>
					<td>{{list.VCB_Patient_Name}}  {{list.VCB_Patient_Last_Name}}</td>
					<td>{{list.VCB_Booking_Date | date: 'MM-dd-yyyy'}}</td>
					<td>{{list.VCB_Create_Date | date: 'MM-dd-yyyy, hh:mm a'}}</td>
					<td>{{list.VCB_User_Name}}</td>
					<td *ngIf = "list.VCB_Status == 'Action Required'">In Review</td>
					<td *ngIf = "list.VCB_Status != 'Action Required'">{{list.VCB_Status}}</td>
					<td class="spcing">&nbsp;<i class="fa fa-eye" title = "{{'View VC' | translate}}" style="cursor: pointer;" aria-hidden="true" routerLink = "/vc-view/{{list.VCB_Unique_ID}}"></i>

						<!-- <i class="fab fa-wpforms"></i> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Modal -->


<div id="myModal" class="modal fade modalmsg" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="close_btn">
					<button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
				</div>
				<div class="modal-body text-center">
					<h3>{{'Please enter the completed status' | translate }}</h3>
				</div>
				<div class="col-md-12">
					<textarea  class="form-control" style="height: 10em" placeholder="{{'completed status' | translate }}..."></textarea>
				</div>
				<div class="modal-footer border0">
					<!-- <button type="button" class="btn btn-primary" (click) = "saveRejectReason('Incomplete')"></button> -->
					<input type="button" value="{{'Submit' | translate }}"  class="btn btngp btnsubmit  my-12" data-dismiss="modal"/>
					<input type="button" value="{{'Cancel' | translate }}" id="cancel"  data-dismiss="modal"  class="btn btngp btncancel  my-12" />

				</div>
			</div>

		</div>
	</div>