<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>	
<div class="section-container section-container-new" >
	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 >{{'PATIENT INFORMATION' | translate }}</h1>
		</div>
		<div class="mh-right">
			<a (click) ="goLastLocation()" class="add-button" > < {{'Back' | translate }}</a>
		</div>
	</div>
	<div class="form-element" >
		<form [formGroup]="patient_info">
			<div class=" form-horizontal">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-user-alt-7"></i></div>
							<select class = "form-control prefixCtrl" formControlName = "Patient_Prefix">
								<option value="" selected="" disabled="">{{'Select Prefix' | translate }}</option>
								<option value="Master">Master</option>
								<option value="Mr">Mr</option>
								<option value="Mrs">Mrs</option>
								<option value="Ms">Ms</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-stretcher"></i></div>
							<input type="text" class="form-control" placeholder="{{'Patient First Name' | translate }}" id="ptfn" formControlName = "Patient_First_Name">

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_First_Name'].valid  && ( patient_info.controls['Patient_First_Name'].touched)">{{'Invalid First Name' | translate }}!!!</p>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<div class="input-group-addon"><i class="icofont-stretcher"></i></div>
							<input type="text" class="form-control" placeholder="{{'Patient Middle Name' | translate }}" formControlName = "Patient_Middle_Name">

						</div>

					</div>
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-stretcher"></i></div>
							<input type="text" class="form-control" placeholder="{{'Patient Last Name' | translate }}" id="ptln"  formControlName = "Patient_Last_Name"/>

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Last_Name'].valid  && ( patient_info.controls['Patient_Last_Name'].touched)">{{'Invalid Last Name' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group calendergreencon date required" id='datetimepicker1'>
							<div class="input-group-addon calenderleft"><i class="icofont-ui-calendar"></i></div>
							<input matInput [matDatepicker]="picker" class="custm-date" [max] = "maxDate" placeholder="{{'DOB' | translate }}" formControlName = "Patient_DOB">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_DOB'].valid  && ( patient_info.controls['Patient_DOB'].touched)">{{'Invalid DOB' | translate }}!!!</p>
					</div>
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-users-alt-4"></i></div>
							<select class = "form-control selectbox genderCtrl" formControlName = "Patient_Sex">
								<option selected="" disabled="" value="">{{'Select Gender' | translate }}</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Others">Others</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group " id="u22">
							<div class="input-group-addon"><i class="icofont-contact-add"></i></div>
							<input type="text" class="form-control ssn" placeholder="{{'SSN' | translate }}" formControlName = "Patient_SSN" id="u22_input" (blur)="validateSSN()" maxlength="11" minlength="11">

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_SSN'].valid  && ( patient_info.controls['Patient_SSN'].touched)">{{'Invalid SSN' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
							<input id = "addrs1" ngx-google-places-autocomplete class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event, 'patient')" formControlName = "Patient_Address1" placeholder="{{'Address 1' | translate }}" autocomplete="off" />
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Address1'].valid  && ( patient_info.controls['Patient_Address1'].touched)">{{'Invalid Address 1' | translate }}!!!</p>
					</div>

					<div class="col-sm-6">
						<div class="input-group">
							<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
							<input type="text" class="form-control" placeholder="{{'Address 2' | translate }}" formControlName = "Patient_Address2">

						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>                                
							<input type="text" class = "form-control patientCityName" placeholder="{{'City' | translate }}" formControlName = "Patient_City">
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_City'].valid  && ( patient_info.controls['Patient_City'].touched)">{{'Invalid City' | translate }}!!!</p>
					</div>
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
							<input type="text" class = "form-control patientStateName" placeholder="{{'State' | translate }}" formControlName = "Patient_State">

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_State'].valid  && ( patient_info.controls['Patient_State'].touched)">{{'Invalid State' | translate }}!!!</p>
					</div>
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
							<input type="number" class = "form-control patientZipCode" placeholder="{{'Zip' | translate }}" formControlName = "Patient_Zipcode">

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Zipcode'].valid  && ( patient_info.controls['Patient_Zipcode'].touched)">{{'Invalid Zip' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-ui-dial-phone"></i></div>
							<input type="text" class="form-control phoneno1" placeholder="{{'Primary Phone' | translate }}" id="ptno"  formControlName = "Patient_Primary_No" (blur) = "validatphone()" maxlength="14" minlength="14" />

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Primary_No'].valid  && ( patient_info.controls['Patient_Primary_No'].touched)">{{'Invalid Primary Phone' | translate }}!!!</p>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<div class="input-group-addon"><i class="icofont-ui-dial-phone"></i></div>
							<input type="text" class="form-control phoneno2" placeholder="{{'Secondary Phone' | translate }}" formControlName = "Patient_Secondary_No"  (blur) = "validatphone()" maxlength="14" minlength="14" >

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Secondary_No'].valid  && ( patient_info.controls['Patient_Secondary_No'].touched)">{{'Invalid Secondary Phone' | translate }}!!!</p>
					</div>
					<div class="col-sm-4">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-phone"></i></div>
							<input type="text" class="form-control phoneno3" placeholder="{{'Emergency' | translate }}" formControlName = "Patient_Emergency_No" (blur) = "validatphone()" maxlength="14" minlength="14" >
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Emergency_No'].valid  && ( patient_info.controls['Patient_Emergency_No'].touched)">{{'Invalid Emergency number' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group">
							<div class="input-group-addon"><i class="icofont-bag-alt"></i></div>
							<input type="text" class="form-control phoneno4" placeholder="{{'Work' | translate }}" formControlName = "Patient_Work_No" (blur) = "validatphone()" maxlength="14" minlength="14" >
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Work_No'].valid  && ( patient_info.controls['Patient_Work_No'].touched)">{{'Invalid Work number' | translate }}!!!</p>
					</div>
					
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-email"></i></div>
							<input type="email" class="form-control" placeholder="{{'Email Id' | translate }}" formControlName = "Patient_Email" required email>

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Email'].valid  && ( patient_info.controls['Patient_Email'].touched)">{{'Invalid Email' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-holding-hands"></i></div>
							<select class = "form-control selectbox " formControlName = "Patient_Religion">
								<option value="" selected="" disabled="">{{'Select Religion' | translate }}</option>
								<option *ngFor = "let reli of getReligionArray" value="{{reli.Reli_Name}}">{{reli.Reli_Name}}</option>

							</select>
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Religion'].valid  && ( patient_info.controls['Patient_Religion'].touched)">{{'Invalid Religion' | translate }}!!!</p>
					</div>
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-users-alt-5"></i></div>
							<select class = "form-control selectbox " formControlName = "Patient_Ethinicity">
								<option value="" selected="" disabled="">{{'Select Ethnicity' | translate }}</option>
								<option *ngFor = "let ethi of getEthnicityArray" value="{{ethi.Ethi_Name}}">{{ethi.Ethi_Name}}</option>

							</select>
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Ethinicity'].valid  && ( patient_info.controls['Patient_Ethinicity'].touched)">{{'Invalid Ethnicity' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-users"></i></div>
							<select class = "form-control selectbox " formControlName = "Patient_Race">
								<option value="" selected="" disabled="">{{'Select Race' | translate }}</option>
								<option  *ngFor = "let rce of getRaceArray" value="{{rce.Race_Name}}">{{rce.Race_Name}}</option>
							</select>
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Race'].valid  && ( patient_info.controls['Patient_Race'].touched)">{{'Invalid Race' | translate }}!!!</p>
					</div>
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-users-alt-2"></i></div>
							<select class = "form-control selectbox "formControlName = "Patient_Marital_Status">
								<option value="" selected="" disabled="">{{'Select Marital Status' | translate }}</option>
								<option value="Divorced">Divorced</option>
								<option value="Married">Married</option>
								<option value="Other">Other</option>
								<option value="Separated">Separated</option>
								<option value="Single">Single</option>
								<option value="Unknown or other">Unknown or other</option>
								<option value="Widowed">Widowed</option>
							</select>

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Marital_Status'].valid  && ( patient_info.controls['Patient_Marital_Status'].touched)">{{'Invalid Marital Status' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-flag"></i></div>
							<select class = "form-control selectbox " formControlName = "Patient_Nationality">
								<option value="" selected="" disabled="">{{'Select Nationality' | translate }}</option>
								<option *ngFor = "let nat of getNationalityArray" value="{{nat.Nati_Name}}">{{nat.Nati_Name}}</option>
							</select>
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Nationality'].valid  && ( patient_info.controls['Patient_Nationality'].touched)">{{'Invalid Nationality' | translate }}!!!</p>
					</div>
					<div class="col-sm-6">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-globe"></i></div>
							<select class = "form-control selectbox " formControlName = "Patient_Language">
								<option value="" selected="" disabled="">{{'Select Language' | translate }}</option>
								<option *ngFor = "let lng of getLanguageArray" value="{{lng.Lang_Name}}">{{lng.Lang_Name}}</option>
							</select>

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Language'].valid  && ( patient_info.controls['Patient_Language'].touched)">{{'Invalid Language' | translate }}!!!</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-user-alt-1"></i></div>
							<input type="text" class="form-control" placeholder="{{'Height (Feet)' | translate }}" pattern="[0-9]+"   formControlName = "Patient_Height_In_Ft">

						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Height_In_Ft'].valid  && ( patient_info.controls['Patient_Height_In_Ft'].touched)">{{'Invalid Height' | translate }}!!!</p>
					</div>
					<div class="col-sm-3 ">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-user-alt-1"></i></div>
							<input type="text" class="form-control" placeholder="{{'Height (Inch)' | translate }}" pattern="[0-9]+"   formControlName = "Patient_Height_In_Inch">
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Height_In_Inch'].valid  && ( patient_info.controls['Patient_Height_In_Inch'].touched)">{{'Invalid Height' | translate }}!!!</p>
					</div>
					<div class="col-sm-3">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-muscle-weight"></i></div>
							<input type="text" class="form-control weightTxtBox" placeholder="{{'Weight (Pounds)' | translate }}" (blur) = "blurweight($event.target.value)"   pattern="[0-9]+([\.,][0-9]+)?" formControlName = "Patient_Weight">
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Weight'].valid  && ( patient_info.controls['Patient_Weight'].touched)">{{'Invalid Weight' | translate }}!!!</p>
					</div>
					<div class="col-sm-3">
						<div class="input-group required">
							<div class="input-group-addon"><i class="icofont-muscle-weight"></i></div>
							<input id="lblBMIText"  class="form-control" placeholder="{{'BodyMassIndex' | translate }}" pattern="[0-9]+([\.,][0-9]+)?" id="getmssindex"   formControlName = "Patient_Body_Mass_Index"/>
						</div>
						<p style="color: #FF0000" *ngIf="!patient_info.controls['Patient_Body_Mass_Index'].valid  && ( patient_info.controls['Patient_Body_Mass_Index'].touched)">{{'Invalid Body Mass Index' | translate }}!!!</p>
					</div>
				</div>
			</div>
		</form>
	</div>
		<div class="main-heading main-heading1">

			<div class="mh-left">
				<h1>{{'INSURANCE INFORMATION' | translate }} - <span>{{'PRIMARY INSURANCE' | translate }}</span></h1>
			</div>
			<div class="mh-right">
				<div class="action-icon">
					<!-- <span *ngIf="DataString"><i class="icofont-check-circled"></i></span>&nbsp; -->
					<span *ngIf="!DataString"><input type="button" class="btn btntext" value="{{'Verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					<span *ngIf="DataString"><i class="icofont-eye fa-1_5x" data-toggle="modal" data-target="#primary_insurance_open" style="cursor: pointer;"></i></span>
					<span *ngIf="DataString" class="btn"><i class="icofont-file-pdf text-danger fa-1_5x" (click) = "savePrimaryInsurancePDF()"></i></span>
					<span *ngIf="DataString"><input  type="button" class="btn btntext" value="{{'Re-verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					&nbsp;
				</div>

			</div>
		</div>
		<div class="form-element section">
			<form [formGroup]="primary_insurance">
				<div class=" form-horizontal">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-users-alt-6"></i></div>
								<select class = "form-control selectbox " formControlName = "PPID_Relation_To_Patient">
									<option value="" disabled="" selected="">{{'Relationship To The Patient' | translate }}</option>
									<option value="01">Spouse</option>
									<option value="19">Child</option>
									<option value="34">Other Adult</option>
									<option value="S">Self</option>
									<option value="D">Unspecified Dependent</option>

								</select>

							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-user-alt-5"></i></div>
								<input type="text" class="form-control " placeholder="{{'Subscriber Name' | translate }}" formControlName = "PPID_Subscriber_Name" id="primrynamevalue">
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_Subscriber_Name'].valid  && ( primary_insurance.controls['PPID_Subscriber_Name'].touched)">{{'Invalid Subscriber Name' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-contact-add"></i></div>
								<input type="text" class="form-control ssn" placeholder="{{'Subscriber SSN' | translate }}" formControlName = "PPID_Subscriber_SSN_No"  (blur)="validateSSN()" maxlength="11" minlength="11">
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_Subscriber_SSN_No'].valid  && ( primary_insurance.controls['PPID_Subscriber_SSN_No'].touched)">{{'Invalid Subscriber SSN' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">


						<div class="col-sm-4">
							<div class="input-group calendergreencon date" id='datetimepicker2' >
								<div class="input-group-addon calenderleft"><i class="icofont-ui-calendar"></i></div>
								<input matInput [matDatepicker]="picker1" class="custm-date" [max] = "maxDate" placeholder="{{'DOB' | translate }}" formControlName = "PPID_DOB">
								<mat-datepicker-toggle matSuffix1 [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
								<!-- <div class="input-group-addon calendergreen"><img src="assets/Images/calender-icon-green.png" /></div> -->
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_DOB'].valid  && ( primary_insurance.controls['PPID_DOB'].touched)">{{'Invalid DOB' | translate }}!!!</p>
						</div>

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-file-document"></i></div>
								<input type="text" class="form-control" placeholder="{{'Policy Number' | translate }}" formControlName = "PPID_Policy_No">
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_Policy_No'].valid  && ( primary_insurance.controls['PPID_Policy_No'].touched)">{{'Invalid Policy Number' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-attachment"></i></div>
								<input type="text " class = "form-control " formControlName = "PPID_Primary_Insurance" placeholder="{{'Primary Insurance' | translate }}" (keyup)="searchInscCompany(primary_insurance.value.PPID_Primary_Insurance,$event.target.value, 'pri')" [matAutocomplete]="auto1"  (keydown.backspace) = "searchBackSpaceforInsc()">

								<mat-autocomplete #auto1="matAutocomplete" style="width:100%">
									<mat-option *ngFor="let option of primaryInscArraySugg" [value]="option.INC_Company_Name" >
										<p (click) = "getAllDataOfInscCmpy(option, 'pri')" >{{option.INC_Company_Name}}</p>
									</mat-option>
								</mat-autocomplete>
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_Primary_Insurance'].valid  && ( primary_insurance.controls['PPID_Primary_Insurance'].touched)">{{'Invalid Primary Insurance' | translate }}!!!</p>

						</div>

					</div>
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input id = "inscPri" ngx-google-places-autocomplete class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event, 'primary')" formControlName = "PPID_Address" placeholder="{{'Address 1' | translate }}" autocomplete="off"/>
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_Address'].valid  && ( primary_insurance.controls['PPID_Address'].touched)">{{'Invalid Address' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input type="text" class="form-control" placeholder="{{'Address 2' | translate }}" formControlName = "PPID_Address2">
							</div>
						</div>

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>

								<input type="text" class="form-control" placeholder="{{'State' | translate }}" formControlName = "PPID_State">
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_State'].valid  && ( primary_insurance.controls['PPID_State'].touched)">{{'Invalid State' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
								<input type="text" class="form-control" placeholder="{{'City' | translate }}" formControlName = "PPID_City">
							</div>
							<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_City'].valid  && ( primary_insurance.controls['PPID_City'].touched)">{{'Invalid City' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div >     
								<div class="input-group">
									<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
									<input type="number" class="form-control" placeholder="{{'ZIP Code' | translate }}" formControlName = "PPID_Zip_Code">
								</div>  


								<p style="color: #FF0000" *ngIf="!primary_insurance.controls['PPID_Zip_Code'].valid  && ( primary_insurance.controls['PPID_Zip_Code'].touched)">{{'Invalid Zip' | translate }}!!!</p>
							</div>  
						</div>
					</div>
				</div>
			</form>
			<!-- <input type="button" value="Next"  [disabled] = "!primary_insurance.valid" class="btn btngp btnsubmit" (click) = "savePrimaryInsurance()"/> -->
			<button class="btn btngp btnsubmit add-sec-insr add-mr" > + {{'Add More' | translate }}</button>
		</div>
		<div class="main-heading main-heading1 sec-insr">
			<div class="mh-left">
				<h1>{{'INSURANCE INFORMATION' | translate }} - <span>{{'SECONDARY INSURANCE' | translate }} </span></h1>
			</div>
			<div class="mh-right">
				<div class="action-icon">
					<!-- <span *ngIf="DataString"><i class="icofont-check-circled"></i></span>&nbsp; -->
					<span *ngIf="!DataString"><input type="button" class="btn btntext" value="{{'Verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					<span *ngIf="DataString"><i class="icofont-eye fa-1_5x" data-toggle="modal" data-target="#primary_insurance_open" style="cursor: pointer;"></i></span>
					<span *ngIf="DataString" class="btn"><i class="icofont-file-pdf text-danger fa-1_5x" (click) = "savePrimaryInsurancePDF()"></i></span>
					<span *ngIf="DataString"><input  type="button" class="btn btntext" value="{{'Re-verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					&nbsp;
				</div>

			</div>
		</div>
		<div class="form-element section sec-insr">
			<form [formGroup]="secondary_insurance">
				<div class=" form-horizontal">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-users-alt-6"></i></div>
								<select class = "form-control selectbox " formControlName = "PSID_Relation_To_Patient">
									<option value="" disabled="" selected="">{{'Relationship To The Patient' | translate }}</option>
									<option value="01">Spouse</option>
									<option value="19">Child</option>
									<option value="34">Other Adult</option>
									<option value="S">Self</option>
									<option value="D">Unspecified Dependent</option>

								</select>

							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-user-alt-5"></i></div>
								<input type="text" class="form-control " placeholder="{{'Subscriber Name' | translate }}" formControlName = "PSID_Subscriber_Name">
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_Subscriber_Name'].valid  && ( secondary_insurance.controls['PSID_Subscriber_Name'].touched)">{{'Invalid Subscriber Name' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-contact-add"></i></div>
								<input type="text" class="form-control ssn" placeholder="{{'Subscriber SSN' | translate }}" formControlName = "PSID_Subscriber_SSN_No" (blur)="validateSSN()" maxlength="11" minlength="11">
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_Subscriber_SSN_No'].valid  && ( secondary_insurance.controls['PSID_Subscriber_SSN_No'].touched)">{{'Invalid Subscriber SSN' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">


						<div class="col-sm-4">
							<div class="input-group calendergreencon date" id='datetimepicker2' >
								<div class="input-group-addon calenderleft"><i class="icofont-ui-calendar"></i></div>
								<input matInput [matDatepicker]="picker2" class="custm-date" [max] = "maxDate1" placeholder="{{'DOB' | translate }}" formControlName = "PSID_DOB">
								<mat-datepicker-toggle matSuffix2 [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker #picker2></mat-datepicker>
								<!-- <div class="input-group-addon calendergreen"><img src="assets/Images/calender-icon-green.png" /></div> -->
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_DOB'].valid  && ( secondary_insurance.controls['PSID_DOB'].touched)">{{'Invalid DOB' | translate }}!!!</p>
						</div>

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-file-document"></i></div>
								<input type="text" class="form-control" placeholder="{{'Policy Number' | translate }}" formControlName = "PSID_Policy_No">
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_Policy_No'].valid  && ( secondary_insurance.controls['PSID_Policy_No'].touched)">{{'Invalid Policy Number' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-attachment"></i></div>
								<input type="text " class = "form-control " formControlName = "PSID_Primary_Insurance" placeholder="{{'Primary Insurance' | translate }}" (keyup)="searchInscCompany(secondary_insurance.value.PSID_Primary_Insurance,$event.target.value, 'sec1')" [matAutocomplete]="auto2"  (keydown.backspace) = "searchBackSpaceforInsc()">

								<mat-autocomplete #auto2="matAutocomplete" style="width:100%">
									<mat-option *ngFor="let option of primaryInscArraySugg" [value]="option.INC_Company_Name" >
										<p (click) = "getAllDataOfInscCmpy(option, 'sec1')" >{{option.INC_Company_Name}}</p>
									</mat-option>
								</mat-autocomplete>
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_Primary_Insurance'].valid  && ( secondary_insurance.controls['PSID_Primary_Insurance'].touched)">{{'Invalid Primary Insurance' | translate }}!!!</p>

						</div>

					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input id = "inscSec" ngx-google-places-autocomplete class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event, 'second')" formControlName = "PSID_Address" placeholder="{{'Address 1' | translate }}" autocomplete="off"/>
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_Address'].valid  && ( secondary_insurance.controls['PSID_Address'].touched)">{{'Invalid Address' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input type="text" class="form-control" placeholder="{{'Address 2' | translate }}" formControlName = "PSID_Address2">
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_PO_Box_No'].valid  && ( secondary_insurance.controls['PSID_PO_Box_No'].touched)">Invalid PO Box!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>

								<input type="text" class="form-control" placeholder="{{'State' | translate }}" formControlName = "PSID_State">
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_State'].valid  && ( secondary_insurance.controls['PSID_State'].touched)">{{'Invalid State' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
								<input type="text" class="form-control" placeholder="{{'City' | translate }}" formControlName = "PSID_City">
							</div>
							<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_City'].valid  && ( secondary_insurance.controls['PSID_City'].touched)">{{'Invalid City' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div >     
								<div class="input-group">
									<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
									<input type="number" class="form-control" placeholder="{{'ZIP Code' | translate }}" formControlName = "PSID_Zip_Code">
								</div>  


								<p style="color: #FF0000" *ngIf="!secondary_insurance.controls['PSID_Zip_Code'].valid  && ( secondary_insurance.controls['PSID_Zip_Code'].touched)">{{'Invalid Zip' | translate }}!!!</p>
							</div>  
						</div>
					</div>
				</div>
			</form>
			<!-- <input type="button" value="Next"  [disabled] = "!secondary_insurance.valid" class="btn btngp btnsubmit" (click) = "saveSecondaryInsurance()"/> -->
			<button class="btn btngp btnsubmit remove-sec-third" >{{'Remove' | translate }}</button>
			<button class="btn btngp btnsubmit add-third-insr add-mr" > + {{'Add More' | translate }}</button>


		</div>
		<div class=" main-heading main-heading1 third-insr">
			<div class="mh-left">
				<h1>{{'INSURANCE INFORMATION' | translate }} - <span>{{'THIRD INSURANCE' | translate }} </span></h1>
			</div>
			<div class="mh-right">
				<div class="action-icon">
					<!-- <span *ngIf="DataString"><i class="icofont-check-circled"></i></span>&nbsp; -->
					<span *ngIf="!DataString"><input type="button" class="btn btntext" value="{{'Verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					<span *ngIf="DataString"><i class="icofont-eye fa-1_5x" data-toggle="modal" data-target="#primary_insurance_open" style="cursor: pointer;"></i></span>
					<span *ngIf="DataString" class="btn"><i class="icofont-file-pdf text-danger fa-1_5x" (click) = "savePrimaryInsurancePDF()"></i></span>
					<span *ngIf="DataString"><input  type="button" class="btn btntext" value="{{'Re-verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					&nbsp;
				</div>

			</div>
		</div>
		<div class="form-element section third-insr" >
			<form [formGroup]="third_insurance">
				<div class=" form-horizontal">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-users-alt-6"></i></div>
								<select class = "form-control selectbox " formControlName = "PSID_Relation_To_Patient">
									<option value="" disabled="" selected="">{{'Relationship To The Patient' | translate }}</option>
									<option value="01">Spouse</option>
									<option value="19">Child</option>
									<option value="34">Other Adult</option>
									<option value="S">Self</option>
									<option value="D">Unspecified Dependent</option>

								</select>

							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-user-alt-5"></i></div>
								<input type="text" class="form-control " placeholder="{{'Subscriber Name' | translate }}" formControlName = "PSID_Subscriber_Name">
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_Subscriber_Name'].valid  && ( third_insurance.controls['PSID_Subscriber_Name'].touched)">{{'Invalid Subscriber Name' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-contact-add"></i></div>
								<input type="text" class="form-control ssn" placeholder="{{'Subscriber SSN' | translate }}" formControlName = "PSID_Subscriber_SSN_No" (blur)="validateSSN()" maxlength="11" minlength="11">
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_Subscriber_SSN_No'].valid  && ( third_insurance.controls['PSID_Subscriber_SSN_No'].touched)">{{'Invalid Subscriber SSN' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">


						<div class="col-sm-4">
							<div class="input-group calendergreencon date" id='datetimepicker2' >
								<div class="input-group-addon calenderleft"><i class="icofont-ui-calendar"></i></div>
								<input matInput [matDatepicker]="picker3" class="custm-date" [max] = "maxDate1" placeholder="{{'DOB' | translate }}" formControlName = "PSID_DOB">
								<mat-datepicker-toggle matSuffix3 [for]="picker3"></mat-datepicker-toggle>
								<mat-datepicker #picker3></mat-datepicker>
								<!-- <div class="input-group-addon calendergreen"><img src="assets/Images/calender-icon-green.png" /></div> -->
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_DOB'].valid  && ( third_insurance.controls['PSID_DOB'].touched)">{{'Invalid DOB' | translate }}!!!</p>
						</div>

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-file-document"></i></div>
								<input type="text" class="form-control" placeholder="{{'Policy Number' | translate }}" formControlName = "PSID_Policy_No">
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_Policy_No'].valid  && ( third_insurance.controls['PSID_Policy_No'].touched)">{{'Invalid Policy Number' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-attachment"></i></div>
								<input type="text " class = "form-control " formControlName = "PSID_Primary_Insurance" placeholder="{{'Primary Insurance' | translate }}" (keyup)="searchInscCompany(secondary_insurance.value.PSID_Primary_Insurance,$event.target.value, 'sec2')" [matAutocomplete]="auto3"  (keydown.backspace) = "searchBackSpaceforInsc()">

								<mat-autocomplete #auto3="matAutocomplete" style="width:100%">
									<mat-option *ngFor="let option of primaryInscArraySugg" [value]="option.INC_Company_Name" >
										<p (click) = "getAllDataOfInscCmpy(option, 'sec2')" >{{option.INC_Company_Name}}</p>
									</mat-option>
								</mat-autocomplete>
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_Primary_Insurance'].valid  && ( third_insurance.controls['PSID_Primary_Insurance'].touched)">{{'Invalid Primary Insurance' | translate }}!!!</p>

						</div>

					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input id = "inscthird" ngx-google-places-autocomplete class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event, 'third')" formControlName = "PSID_Address" placeholder="{{'Address 1' | translate }}" autocomplete="off"/>
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_Address'].valid  && ( third_insurance.controls['PSID_Address'].touched)">{{'Invalid Address' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input type="text" class="form-control" placeholder="{{'Address 2' | translate }}" formControlName = "PSID_Address2">
							</div>

						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>

								<input type="text" class="form-control" placeholder="{{'State' | translate }}" formControlName = "PSID_State">
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_State'].valid  && ( third_insurance.controls['PSID_State'].touched)">{{'Invalid State' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
								<input type="text" class="form-control" placeholder="{{'City' | translate }}" formControlName = "PSID_City">
							</div>
							<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_City'].valid  && ( third_insurance.controls['PSID_City'].touched)">{{'Invalid City' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div >     
								<div class="input-group">
									<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
									<input type="number" class="form-control" placeholder="{{'ZIP Code' | translate }}" formControlName = "PSID_Zip_Code">
								</div>  

								<p style="color: #FF0000" *ngIf="!third_insurance.controls['PSID_Zip_Code'].valid  && ( third_insurance.controls['PSID_Zip_Code'].touched)">{{'Invalid Zip' | translate }}!!!</p>
							</div>  
						</div>
					</div>
				</div>
			</form>
			<!-- <input type="button" value="Next"  [disabled] = "!third_insurance.valid" class="btn btngp btnsubmit" (click) = "saveThirdInsurance()"/> -->
			<button class="btn btngp btnsubmit remove-third-forth" >{{'Remove' | translate }}</button>
			<button class="btn btngp btnsubmit add-forth-insr add-mr" > + {{'Add More' | translate }}</button>

		</div>

		<div class="main-heading main-heading1 forth-insr">
			<div class="mh-left">
				<h1>{{'INSURANCE INFORMATION' | translate }} - <span>{{'Fourth INSURANCE' | translate }} </span></h1>
			</div>
			<div class="mh-right">
				<div class="action-icon">
					<!-- <span *ngIf="DataString"><i class="icofont-check-circled"></i></span>&nbsp; -->
					<span *ngIf="!DataString"><input type="button" class="btn btntext" value="{{'Verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					<span *ngIf="DataString"><i class="icofont-eye fa-1_5x" data-toggle="modal" data-target="#primary_insurance_open" style="cursor: pointer;"></i></span>
					<span *ngIf="DataString" class="btn"><i class="icofont-file-pdf text-danger fa-1_5x" (click) = "savePrimaryInsurancePDF()"></i></span>
					<span *ngIf="DataString"><input  type="button" class="btn btntext" value="{{'Re-verify' | translate }}" style="margin-top:-5px;" (click)="verifyPrimaryInsurance()"></span>
					&nbsp;
				</div>
			</div>
		</div>
		<div class="form-element section forth-insr" >
			<form [formGroup]="forth_insurance">
				<div class=" form-horizontal">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-users-alt-6"></i></div>
								<select class = "form-control selectbox " formControlName = "PSID_Relation_To_Patient">
									<option value="" disabled="" selected="">{{'Relationship To The Patient' | translate }}</option>
									<option value="01">Spouse</option>
									<option value="19">Child</option>
									<option value="34">Other Adult</option>
									<option value="S">Self</option>
									<option value="D">Unspecified Dependent</option>

								</select>

							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-user-alt-5"></i></div>
								<input type="text" class="form-control " placeholder="{{'Subscriber Name' | translate }}" formControlName = "PSID_Subscriber_Name">
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_Subscriber_Name'].valid  && ( forth_insurance.controls['PSID_Subscriber_Name'].touched)">{{'Invalid Subscriber Name' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-contact-add"></i></div>
								<input type="text" class="form-control ssn" placeholder="{{'Subscriber SSN' | translate }}" formControlName = "PSID_Subscriber_SSN_No" (blur)="validateSSN()" maxlength="11" minlength="11">
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_Subscriber_SSN_No'].valid  && ( forth_insurance.controls['PSID_Subscriber_SSN_No'].touched)">{{'Invalid Subscriber SSN' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">


						<div class="col-sm-4">
							<div class="input-group calendergreencon date" id='datetimepicker2' >
								<div class="input-group-addon calenderleft"><i class="icofont-ui-calendar"></i></div>
								<input matInput [matDatepicker]="picker4" class="custm-date" [max] = "maxDate" placeholder="{{'DOB' | translate }}" formControlName = "PSID_DOB">
								<mat-datepicker-toggle matSuffix3 [for]="picker4"></mat-datepicker-toggle>
								<mat-datepicker #picker4></mat-datepicker>
								<!-- <div class="input-group-addon calendergreen"><img src="assets/Images/calender-icon-green.png" /></div> -->
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_DOB'].valid  && ( forth_insurance.controls['PSID_DOB'].touched)">{{'Invalid DOB' | translate }}!!!</p>
						</div>

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-file-document"></i></div>
								<input type="text" class="form-control" placeholder="{{'Policy Number' | translate }}" formControlName = "PSID_Policy_No">
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_Policy_No'].valid  && ( forth_insurance.controls['PSID_Policy_No'].touched)">{{'Invalid Policy Number' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-attachment"></i></div>
								<input type="text " class = "form-control " formControlName = "PSID_Primary_Insurance" placeholder="{{'Primary Insurance' | translate }}" (keyup)="searchInscCompany(secondary_insurance.value.PSID_Primary_Insurance,$event.target.value, 'sec3')" [matAutocomplete]="auto4"  (keydown.backspace) = "searchBackSpaceforInsc()">

								<mat-autocomplete #auto4="matAutocomplete" style="width:100%">
									<mat-option *ngFor="let option of primaryInscArraySugg" [value]="option.INC_Company_Name" >
										<p (click) = "getAllDataOfInscCmpy(option, 'sec3')" >{{option.INC_Company_Name}}</p>
									</mat-option>
								</mat-autocomplete>
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_Primary_Insurance'].valid  && ( forth_insurance.controls['PSID_Primary_Insurance'].touched)">{{'Invalid Primary Insurance' | translate }}!!!</p>

						</div>

					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input id = "inscforth" ngx-google-places-autocomplete class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event, 'forth')" formControlName = "PSID_Address" placeholder="{{'Address 1' | translate }}" autocomplete="off"/>
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_Address'].valid  && ( forth_insurance.controls['PSID_Address'].touched)">{{'Invalid Address' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-pin"></i></div>
								<input type="text" class="form-control" placeholder="{{'Address 2' | translate }}" formControlName = "PSID_Address2">
							</div>

						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>

								<input type="text" class="form-control" placeholder="{{'State' | translate }}" formControlName = "PSID_State">
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_State'].valid  && ( forth_insurance.controls['PSID_State'].touched)">{{'Invalid State' | translate }}!!!</p>
						</div>
					</div>
					<div class="form-group">

						<div class="col-sm-4">
							<div class="input-group">
								<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
								<input type="text" class="form-control" placeholder="{{'City' | translate }}" formControlName = "PSID_City">
							</div>
							<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_City'].valid  && ( forth_insurance.controls['PSID_City'].touched)">{{'Invalid City' | translate }}!!!</p>
						</div>
						<div class="col-sm-4">
							<div >     
								<div class="input-group">
									<div class="input-group-addon"><i class="icofont-location-arrow"></i></div>
									<input type="number" class="form-control" placeholder="{{'ZIP Code' | translate }}" formControlName = "PSID_Zip_Code">
								</div>  

								<p style="color: #FF0000" *ngIf="!forth_insurance.controls['PSID_Zip_Code'].valid  && ( forth_insurance.controls['PSID_Zip_Code'].touched)">{{'Invalid Zip' | translate }}!!!</p>
							</div>  
						</div>
					</div>
				</div>
			</form>
			<!-- <input type="button" value="Next"  [disabled] = "!forth_insurance.valid" class="btn btngp btnsubmit" (click) = "saveForthInsurance()"/> -->
			<button class="btn btngp btnsubmit remove-forth-insr" >{{'Remove' | translate }}</button>
		</div>
	<!-- <div class="section">


		<div class="lstsave">
			<input type="button" value="Save" id="subbtn" class="btn btngp btnsubmit" (click) = "EditPatientInfo()"/>
		</div>
	</div> -->
	<div class="btngroup bottombar_slide" id="btndiv">
		<!-- <input type="button" value="check" (click) = "addBooking('1')"  class="btn btngp btnsubmit my-12" /> -->

		<input type="button" value="{{'Submit' | translate }}" id="submitdata" (click) = "EditPatientInfo()" class="btn btngp btnsubmit my-12" [disabled] = "!patient_info.valid"/>
		<input type="button" value="{{'Cancel' | translate }}" class="btn btngp btncancel my-12" (click) = "goLastLocation()" />
	</div>
</div>
<div class="modal fade" id="primary_insurance_open" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{'Primary Insurance Details' | translate }}</h4>
			</div>
			<div class="modal-right"> 
				<!-- <button type="button" class="btn btn-info" (click) = "saveInfoOfPrimaryInc()">Save Info</button> -->
				
				
			</div>
			<div class="modal-body">
				<!-- <div id="dataContainer" #dataContainer [innerHTML]="DataString"></div> -->
				<img src="assets/Images/insc.jpg" width="100%">
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="reVerifyPrimaryInc()">Re-varify</button> -->
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | translate }}</button>
			</div>
		</div>

	</div>
</div>	