	<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>	
<div class="section-container section-container-new" >
	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 class="add-button">{{'Relationship' | translate }}</h1>
			<h1 class="view-button"> {{'Add Relationship' | translate }}</h1>
			<h1 class="view-delete-button">{{'Deleted Records' | translate }}</h1>
			<h1 class="edit-data">{{'Edit Relationship' | translate }}</h1>
		</div>

		<div class="mh-right">
			<a class="add-button" ><i class="fa fa-plus" aria-hidden="true" style="font-size: 15px;"></i> {{'Add Relationship' | translate }}</a>
			<a class="view-button"  id="again-Back"><i class="fa fa-angle-left"></i> {{'Back' | translate }}</a>
		</div>
	</div>
	<div class="form-element hide-from">
		<div class=" form-horizontal">
			<form  [formGroup]="form"> 
				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group">
							<div class="input-group-addon"><i class="icofont-users"></i></div>
							<input type="text" name="" class="form-control"  placeholder="{{'Relationship' | translate }} To The Patient"  formControlName = "Rtop_Name">
						</div>
						<p style="color: #FF0000" *ngIf="!form.controls['Rtop_Name'].valid  && ( form.controls['Rtop_Name'].touched)">{{'Invalid name' | translate }}!!!</p>
					</div>
				</div>
			</form>
		</div>
		<div>
			<input type="button" value="{{'Submit' | translate}}" id="submitdata" data-toggle="modal" data-target="#submitbtn"   [disabled] = "!form.valid" class="btn btngp btnsubmit" />
			<input type="button" value="{{'Cancel' | translate}}" id="cancel" data-toggle="modal" data-target="#cancelbtn"   class="btn btngp btncancel" />
		</div>
	</div>
	<div class = "add-table">
		<a (click) = "viewDeletedRdcs()" class="custom-link">{{'Deleted Records' | translate}}</a>
		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class = "table"   id = 'reltsip'>
			<thead>
				<tr>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">#</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Name' | translate}}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Created By' | translate }}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Last Modify' | translate}}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Status' | translate}}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Action' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let list of getRelationArray; let i = index">
					<td class="hash-center">{{i+1}}</td>
					<td>{{list.Rtop_Name}}</td>
					<td>{{list.Rtop_User_Name}}</td>
					<td>{{list.Rtop_Create_Date | date: 'MM-dd-yyyy, hh:mm a'}} <span class="info"  data-toggle="tooltip" data-placement="left" title="{{list.Rtop_Modify_Date | date: 'MM-dd-yyyy, hh:mm aa'}}"><i *ngIf = "list.Rtop_Modify_Date != list.Rtop_Create_Date " class="icofont-info-circle"></i></span></td>
					<td *ngIf = "list.Rtop_Is_Active"><mat-slide-toggle (change) = "UpdateStatus(list, $event)" checked></mat-slide-toggle></td>
					<td *ngIf = "!list.Rtop_Is_Active"><mat-slide-toggle (change) = "UpdateStatus(list, $event)"></mat-slide-toggle></td>
					<td class="edit-button"><i class="fa fa-pencil-square-o " title = "{{'Edit' | translate}}"  aria-hidden="true" (click) = "editRelationList(list)"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span (click) ="dataDeleted(list)">	<i class="fa fa-trash" aria-hidden="true" title = "{{'Delete' | translate}}"></i></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class = "view-deleted">
		<a (click) = "hideShow()" class="custom-link">{{'View Records' | translate}}</a>
		<table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" class = "table"   id = 'Rtop_deleted_rc'>
			<thead>
				<tr>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">#</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Name' | translate}}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Created By' | translate }}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Last Modify' | translate}}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Action' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let list of getDeletedRtopArray; let i = index">
					<td class="hash-center">{{i+1}}</td>
					<td>{{list.Rtop_Name}}</td>
					<td>{{list.Rtop_User_Name}}</td>
					<td>{{list.Rtop_Modify_Date | date: 'MM-dd-yyyy, hh:mm a'}} <span class="info"  data-toggle="tooltip" data-placement="left" title="{{list.Rtop_Create_Date | date: 'MM-dd-yyyy, hh:mm aa'}}"><i *ngIf = "list.Rtop_Modify_Date != list.Rtop_Create_Date " class="icofont-info-circle"></i></span></td>
					<td class="edit-button">
						<span (click)  = "revertDeleted(list)" >	<i class="fa fa-trash" aria-hidden="true" title = "{{'Delete' | translate}}"></i></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Modal -->
<div id="submitbtn" class="modal fade modalmsg" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="close_btn">
        <button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
      </div>
      <div class="modal-body text-center">
       <h3>{{'Are you sure, you want to Submit ?' | translate}}</h3>
      </div>
      <div class="modal-footer border0">
        <button type="button" class="btn btn-primary" (click)  = "addRelation()" >{{'Yes' | translate}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'No' | translate}}</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="trash" class="modal fade modalmsg" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="close_btn">
				<button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
			</div>
			<div class="modal-body text-center">
				<h3>{{'Are you sure, you want to delete ?' | translate}}</h3>
			</div>
			<div class="modal-footer border0">
				<button type="button" class="btn btn-primary" (click) = "isDeletedYes()">{{'Yes' | translate}}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'No' | translate}}</button>
			</div>
		</div>

	</div>
</div>

<!-- Modal -->
<div id="revertDelete" class="modal fade modalmsg" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="close_btn">
				<button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
			</div>
			<div class="modal-body text-center">
				<h3>{{'Are you sure, you want to Retrive data ?' | translate}}</h3>>
			</div>
			<div class="modal-footer border0">
				<button type="button" class="btn btn-primary" (click) = "revertData()">{{'Yes' | translate}}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'No' | translate}}</button>
			</div>
		</div>

	</div>
</div>