
<div class="section-container section-container-new">
	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 class="add-button">{{'Appointment List' | translate }}</h1>
		</div>
		
	</div>
	<div class = "add-table">
		<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class = "table"  id = 'patdhsbtd'>
			<thead>
				<tr>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center" class="hash-center">#</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">{{'Patient Name' | translate }}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">{{'Order Date' | translate }}</th>
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center" >{{'Office' | translate }}</th>
					<!-- <th>{{'Request Date' | translate }}</th> -->
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">{{'Created By' | translate }}</th>
					<!-- <th>{{'Status' | translate }}</th> -->
					<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">{{'Actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let list of getListData; let i = index" [class.alertDanger]="list.expire">
					<td class="hash-center">{{i+1}}</td>
					<td>{{list.PB_Patient_Name}} {{list.PB_Patient_Last_Name}}</td>
					<td>{{list.PB_Create_Date | date: 'MM-dd-yyyy, hh:mm a'}}</td>
					<td >{{list.PB_Booking_Surgery_Center_Name}}</td>
					<!-- <td>{{list.PB_Booking_Date | date: 'MM-dd-yyyy'}}, {{tConvert(list.PB_Booking_Time)}}</td> -->
					<!-- <td>{{list.PB_Status}}</td> -->
					<td>{{list.PB_User_Name}}</td>

					<td class="edit-button" *ngIf = "admin.UM_Office_Type != 'A'">

						<span title="Edit Patient">
							<i class="fa fa-eye" title = "{{'View Booking' | translate}}" style="cursor: pointer;" aria-hidden="true" routerLink = "/view-appointment/{{list.PB_Unique_ID}}/{{list.PB_Patient_ID}}"></i>	&nbsp;
							<i routerLink ="/edit-patients/{{list.PB_Patient_ID}}/{{list.PB_Unique_ID}}" class="fa fa-pencil-square-o " title = "{{'Edit Booking' | translate }}"  aria-hidden="true"></i></span>


						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div class="section"></div>
		<div *ngIf = "VCgetListData.length > 0" >
			<div class="main-heading main-heading1">
				<div class="mh-left">
					<h1 class="add-button" [style.color]="setAccToSurgery?.SurgC_Appearance?.App_Title1Color_Hax ? setAccToSurgery?.SurgC_Appearance?.App_Title1Color_Hax : (setAccToSurgery?.PhyO_Appearance?.App_Title1Color_Hax ? setAccToSurgery?.PhyO_Appearance?.App_Title1Color_Hax : null)">{{'VIRTUAL CONSULTATION APPOINTMENT(S)' | translate }}
					</h1>
				</div>

			</div>

			<div class = "add-table">
				<table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" class = "table"  id = 'vckistnowdsh1'>
					<thead>
						<tr>
							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">#</th>
							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Patient Name' | translate }}</th>

							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Request Date' | translate }}</th>

							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Order Date' | translate }}</th>
							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Created By' | translate }}</th>
							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Status' | translate }}</th>
							<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Actions' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor = "let list of VCgetListData; let i = index;">
							<td class="hash-center">{{i+1}}</td>
							<td>{{list.VCB_Patient_Name}}  {{list.VCB_Patient_Last_Name}}</td>
							<td>{{list.VCB_Booking_Date | date: 'MM-dd-yyyy'}}</td>
							<td>{{list.VCB_Create_Date | date: 'MM-dd-yyyy, hh:mm a'}}</td>
							<td>{{list.VCB_User_Name}}</td>
							<td>{{list.VCB_Status}}</td>

							<td class="spcing">&nbsp;
								<i  class="fa fa-eye" aria-hidden="true" style="cursor: pointer;" routerLink = "/patient-vc-view/{{list.VCB_Unique_ID}}" title="View VC"></i>
								<i  *ngIf = "list.VCB_Status == 'Draft'" routerLink = "/patient-vc-edit/{{list.VCB_Unique_ID}}" class="fa fa-pencil-square-o" title = "Edit VC" style="cursor: pointer;" aria-hidden="true"></i>
						<!-- <i  class="fa fa-pencil-square-o" aria-hidden="true" style="cursor: pointer;" routerLink = "/vc-book/{{a}}" title = "{{'Edit Booking' | translate}}"></i>



						<i routerLink = "/add-attachments/{{list.PB_Unique_ID}}" class="icofont-attachment" style="cursor: pointer; font-size: 16px;" title = "{{'Attachments' | translate}}"></i>

						<i class="fa fa-wpforms" style="cursor: pointer;" routerLink = "/surgery-forms/{{list.PB_Unique_ID}}" title = "{{'Patient Forms' | translate}}"></i>

						<span><i *ngIf = "admin.UM_Office_Type != 'P'" class="icofont-notification" style="cursor: pointer;" title = "{{'Notification' | translate}}" routerLink = "/assign-notification-list/{{list.PB_Unique_ID}}"></i></span>

						<span><i *ngIf = "admin.UM_Office_Type == 'S' && list.markAsComplete" class="fa fa-check-square-o" aria-hidden="true" style="cursor: pointer;" title = "{{'Mark as complete' | translate}}" data-toggle="modal" data-target="#myModal"></i></span> -->


						<!-- <i class="fab fa-wpforms"></i> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>