<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>	
<div class="section-container section-container-new" >
	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 class="add-button">Knowledge base</h1>
			
		</div>

		<div class="mh-right">
			<div class="search_simple">
				<label>
					search:
				<input type="text" name="" placeholder="" class="search_simpletxt">
				</label>
			</div>
			<div class="pin_article_btn">
				<a href="#"> <i class="fa fa-paperclip"></i></a>
			</div>
		</div>
	</div>
	<div class="main_body_aftersearch ">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="aftersearch_inner">
					<h3 class="aftersearch_inner_heading">
						<i class="fa fa-info-circle"></i>
						Recent
					</h3>
					<ul class="aftersearch_inner_list">
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="aftersearch_inner">
					<h3 class="aftersearch_inner_heading">
						<i class="fa fa-info-circle"></i>
						Recent
					</h3>
					<ul class="aftersearch_inner_list">
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="aftersearch_inner">
					<h3 class="aftersearch_inner_heading">
						<i class="fa fa-info-circle"></i>
						Recent
					</h3>
					<ul class="aftersearch_inner_list">
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
					  <li>
					  	<a routerLink = "/kb-article-feedback">
					  	 <i class=" fa fa-book"></i>
					  	 <span class="aftersearch_span">Articles feedback</span>
					  	</a>
					  </li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>