<div class="section-container section-container-new">
	<div class="section">
		<div class="main-heading">
			<h1> {{'Notification Time' | translate }}</h1>
		<!-- 	<div class="mh-right">
				<a class="view-button" routerLink="/notifications">
                  <i class="fa fa-angle-left"></i> {{'Back' | translate }}
               </a>
				
           </div> -->
       </div>

       <div class="form-element">	
       	<div class="form-horizontal">
				 <div class="form-group"> 
					<div class="col-sm-3">
						<label for="message-text" class="col-form-label"><h4><b> {{'Notification TIme' | translate }}:</b></h4></label>
					</div>
						
        <div class="col-sm-9">
						<div class="input-group date required" id='datetimepicker7'>
							<div class="input-group-addon"><i class="icofont-clock-time"></i></div>
							<input atp-time-picker value="{{reqData.notificationstime}}" class="form-control" placeholder=" {{'Notification Time' | translate }} - hh:mm" [(ngModel)] = "reqData.notificationstime"/>

						</div>
					</div>
				</div>			
				
			 </div> 

			<br/>
			<input class="btn btngp btnsubmit" type="button" value="{{'Submit' | translate }}" (click)="finalAction()"/>
			<input type="button" value="{{'Cancel' | translate }}" id="cancel" data-toggle="modal" data-target="#cancelbtn" class="btn btngp btncancel"/>
		</div>

	</div>
	
</div>

<!-- Modal -->
<div id="cancelbtn" class="modal fade modalmsg" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content--> 
		<div class="modal-content">
			<div class="close_btn">
				<button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
			</div>
			<div class="modal-body text-center">
				<h3>{{'Are you sure, you want to Cancel ?' | translate }}</h3>
			</div>
			<div class="modal-footer border0">
				<button type="button" class="btn btn-primary" data-dismiss="modal">{{'Yes' | translate }}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'No' | translate }}</button>
			</div>
		</div>
	</div>
</div>
