<div class="section-container section-container-new" >
   <section class="box-section">
      <div class="row">
         <div class="col-sm-3 col-xs-6">
            <div class="small-box" style="background-color: #176bc6;">
               <i class="fa fa-paper-plane"></i>
               <div class="text-small">
                  <p>{{'Sent' | translate }}</p>
                  <div class="small-count">5</div>
               </div>
            </div>
         </div>
         <div class="col-sm-3 col-xs-6">
            <div class="small-box" style="background-color: #176bc6;">
               <i class="fa fa-inbox"></i>
               <div class="text-small">
                  <p>{{'Pending Messages' | translate }}</p>
                  <div class="small-count">1</div>
               </div>
            </div>
         </div>
         <div class="col-sm-3 col-xs-6">
            <div class="small-box" style="background-color: #ff8301;">
               <i class="fa fa-exclamation-triangle"></i>
               <div class="text-small">
                  <p>{{'Errors' | translate }}</p>
                  <div class="small-count">1</div>
               </div>
            </div>
         </div>
         <div class="col-sm-3 col-xs-6">
            <div class="small-box" style="background-color: #176bc6;">
               <i class="fa fa-cogs"></i>
               <div class="text-small">
                  <p>A{{'ctive Workflows' | translate }}</p>
                  <div class="small-count">25</div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="table-section">
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">
                     {{'Actions' | translate }}
                  </h3>
               </div>
               <div class="card-body">
                  <div class="input-group" id="adv-search">
                     <input type="text" class="form-control" placeholder="Search" />
                     <div class="input-group-btn">
                        <div class="btn-group" role="group">
                           <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                           <div class="dropdown dropdown-lg">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                 <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                       <label for="filter">{{'Filter by' | translate }}</label>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="table-responsive">
                     <table id="example" class="table table-striped ">
                        <thead>
                           <tr>
                              <th>{{'Action' | translate }}</th>
                              <th>{{'ID' | translate }}</th>
                              <th>{{'Name' | translate }}</th>
                              <th>{{'Event Date' | translate }}</th>
                              <th>{{'Event Time' | translate }}</th>
                              <th>{{'Resource' | translate }}</th>
                              <th>{{'Location' | translate }}</th>
                              <th>{{'Message Date' | translate }}</th>
                              <th>{{'Workflow' | translate }}</th>
                              <th>{{'Response' | translate }}</th>
                              <th>{{'Status' | translate }}</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td><span class="action-i"><a href="JavaScript:void(0);"><i class="fa fa-envelope-o"></i></a></span>
                              </td>
                              <td><a href="#">11</a></td>
                              <td><a href="#">amet test</a></td>
                              <td>2/4/2018</td>
                              <td>3:30 PM</td>
                              <td>Demonim</td>
                              <td>oak</td>
                              <td>2/4/2018</td>
                              <td>New Patient Reminder</td>
                              <td></td>
                              <td>Pending</td>
                              <td><a href="#">Cancel</a></td>
                              <!-- <div class="hide-area">
                                 <div class="hide-tr">
                                 <h4>Person Info</h4>
                                 <div><a href="#"><i class="fa fa-envelope-o"></i></a> abc@gmail.com</div>
                                 <div><a href="#"><i class="fa fa-mobile icon-2x"></i></a> 9999999</div>
                                 <div><a href="#"><i class="fa fa-phone"></i></a> 7841234</div>
                                 <div><a href="#"><i class="fa fa-birthday-cake"></i> 8/11/19</a></div>
                                 </div>
                                   <div class="hide-tr">
                                 <h4>Message</h4>
                                 <div><a href="#">Preview</a> </div>
                                 
                                 </div>
                                 </div> -->
                           </tr>
                           <tr>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                           </tr>
                           <tr>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
<!-- content-wrapper close -->