<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>	

<div class="section-container section-container-new" >

	<div class="main-heading main-heading1">
		<div class="mh-left">
			<h1 class="add-button">{{'Assign Notification List' | translate }}</h1>
			<!-- <h1 class="view-button"> Add Incident</h1>
			<h1 class="view-delete-button">Deleted Records</h1>
			<h1 class="edit-data">Edit Incident</h1> -->
		</div>

		<div class="mh-right">
			<a class="add-button" data-toggle="modal" data-target="#assignNoti"><i class="fa fa-plus" aria-hidden="true" style="font-size: 15px;"></i> {{'Assign Notification' | translate }}</a>&nbsp;
			<a class="view-button"  id="again-Back" (click) = "goBack()"><i class="fa fa-angle-left"></i> {{'Back' | translate }}</a>
		</div>
	</div>
	<div class="add-table">
		<!-- <a class="add-custom-link mr-15"  routerLink="/add-notification-type"><i aria-hidden="true" class="fa fa-plus" style="font-size: 15px;"></i> Add Notification Type</a> -->
		<div class="dataTables_wrapper">
			<table class = "table"  id = 'notisssinlist'>
				<thead>
					<tr>
						<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">#</th>
						<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Category' | translate }}</th>
						<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Name' | translate }}</th>
						<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Description' | translate }}</th>
						<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Last Modify' | translate }}</th>
						<!-- <th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Status' | translate }}</th> -->
						<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Action' | translate }}</th>
					</tr>
				</thead> 
				
				<tbody>
					<tr *ngFor = "let list of dataListArray; let i = index">
						<td class="hash-center">{{i+1}}</td>
						<td><span>{{list.NFT_Category_Name}}</span></td>
						<td>{{list.NFT_Name}}</td> 
						<td>{{list.NFT_Description}}</td>
						<td>{{list.NFT_Modify_Date | date: 'MM-dd-yyyy'}} <span class="info"  data-toggle="tooltip" data-placement="left" title="{{list.NFT_Create_Date | date: 'MM-dd-yyyy, hh:mm aa'}}"><i *ngIf = "list.NFT_Modify_Date != list.NFT_Create_Date " class="icofont-info-circle"></i></span></td>
						<!-- <td *ngIf = "list.NFT_Is_Active"><mat-slide-toggle checked>Active</mat-slide-toggle></td> -->
						<!-- <td *ngIf = "!list.NFT_Is_Active"><mat-slide-toggle>Not Active</mat-slide-toggle></td> -->

						<td class="edit-button">	
							<span>	
								<i class="fa fa-trash" aria-hidden="true" title = "{{'Delete' | translate}}" (click) ="dataDeleted(list)"></i>				</span>
							</td>
						</tr> 
					</tbody> 

				</table>
			</div>
		</div>
	</div>




	<div id="trash" class="modal fade modalmsg" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="close_btn">
					<button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
				</div>
				<div class="modal-body text-center">
					<h3>{{'Are you sure, you want to delete ?' | translate }}</h3>
				</div>
				<div class="modal-footer border0">
					<button type="button" class="btn btn-primary" (click) = "isDeletedYes()">{{'Yes' | translate }}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{{'No' | translate }}</button>
				</div>
			</div>

		</div>
	</div>

	<div id="assignNoti" class="modal fade modalmsg" role="dialog">
		<div class="modal-dialog modal-lg"  >

			<!-- Modal content-->
			<div class="modal-content">
				<div class="close_btn">
					<button type="button" class="close" data-dismiss="modal"><img src="assets/Images/close-line.png" alt=""></button>
				</div>
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					<h1 class="modal-title">{{'Assign Notification' | translate }}</h1>
				</div>

				<div class="col-sm-12">
					<div class="">
						<div class="titleBox"><h4>{{'Category' | translate }}</h4></div>
						<ul class="nav nav-block">
							<li *ngFor = "let list of notiArray; let i = index">
								<div class="icon_checked">
									<input type="checkbox" name="Notification" id="Chk_{{i+1}}" value={{list.NFT_Unique_ID}} (change) = "GetNotiData(list.NFT_Category_Name, $event.target.checked)">
									<label for="Chk_{{i+1}}"><span class="fa fa-check"></span>{{list.NFT_Category_Name}}  </label>
								</div>
							</li>
						</ul>
					</div>
				</div>


				<!-- <div class="modal-body text-center">
					<div class="add-table">

						<div class="dataTables_wrapper">
							<table class = "table"  id = 'Ethitable'>
								<thead>
									<tr>
										<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)" class="hash-center">#</th>
										<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Category' | translate }}</th>
										<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Name' | translate }}</th>
										<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Description' | translate }}</th>
										<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">{{'Last Modify' | translate }}</th>
										<th [style.background-color]="setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.SurgC_Appearance?.App_NavigationColorLight_Hax : (setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax ? setAccToSurgery?.PhyO_Appearance?.App_NavigationColorLight_Hax : null)">Assign</th>

									</tr>
								</thead> 

								<tbody>
									<tr *ngFor = "let list of notiArray; let i = index">
										<td class="hash-center">{{i+1}}</td>
										<td><span>{{list.NFT_Category_Name}}
											<input type="hidden" id="NFTUniqueID_{{i+1}}"  value={{list.NFT_Unique_ID}} />
										</span></td>
										<td>{{list.NFT_Name}}</td> 
										<td>{{list.NFT_Description}}</td>
										<td>{{list.NFT_Modify_Date | date: 'MM-dd-yyyy'}} <span class="info"  data-toggle="tooltip" data-placement="left" title="{{list.NFT_Create_Date | date: 'MM-dd-yyyy, hh:mm aa'}}"><i *ngIf = "list.NFT_Modify_Date != list.NFT_Create_Date " class="icofont-info-circle"></i></span></td>

										<td>
											<input type="checkbox" name="Notification"
											id="Chk_{{i+1}}" value={{list.NFT_Unique_ID}}>


										</td>
									</tr> 
								</tbody> 

							</table>
						</div>
					</div>
				</div> -->
				<div class="modal-footer border0">
					<hr>
					<input class="btn btngp btnsubmit" type="button" value="{{'Assign' | translate }}" (click)="SubmitData()" />
					<input class="btn btngp btncancel" type="button" value="{{'Cancel' | translate }}" data-dismiss="modal"/>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">{{'No' | translate }}</button> -->
				</div>
			</div>

		</div>
	</div>