<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>

<input type="hidden" id="BaseUrlPath" value="@ViewBag.BaseUrlPath" />
<div class="form-body">
	<div class="row">
		<div class="form-holder">
			<div class="form-content" style="background-color:#2ca36d !important">
				<div class="form-items forgot">
					<div class="">
						<div class="page-links">
							<a href="javascript:void(0);" class="active unlink login">Forgot Password ?</a>
						</div>
					</div>
					<h3></h3>
					<p></p>
					<input class="form-control userNameCtrl" type="text" placeholder="Please enter your registered email address" [(ngModel)] = "email">
					<div class="form-button">
						<button id="submit" type="button" (click) = "submit()"  class="ibtn loginBtn">Submit</button> 

						<a routerLink = "/login">Back to login</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
