<div class="loader-contaier" *ngIf = "showLoader">
	<div class="loader-img">
		<img src="assets/Images/logo2.gif" alt="">
	</div>
</div>	
 <!-- <div class="section-container section-container-new"> -->
 	<div class="section">
 		<div class="main-heading">
 			<h1> Form Passcode</h1>
 	
 		</div>

 		<div class="form-element">	
 			<div class="form-horizontal">
 					<div class="row">
 					   <div class = "col-sm-6 col-sm-offset-3">


 						<label for="recipient-name" class="col-form-label">Update your Passcode:</label>
 						<div class="input-group required">
 							<div class="input-group-addon"><i class="icofont-ui-password"></i></div>
 							<input type="password" class="form-control"  [(ngModel)] = "getPasscode" placeholder="Enter your passcode">
 						</div>
 					</div>
 				</div>
 					

 				<br/>
 				 	<div class="row">

 				  <div class = "col-sm-6 col-sm-offset-3">

 				<input class="btn btngp btnsubmit" type="button" value="Submit" (click)="finalAction()"/>
 				</div>
 			</div>
 			</div>

 		</div>

 		</div> 
